
<div class="row">
   <div class="col-md-12 text-center">
       
        <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" [routerLink]="['novo']" routerLinkActive="active" >Novo</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['editar']" routerLinkActive="active"  >Editar</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['detalhe']" routerLinkActive="active" >Detalhe</button>
        </div>

   </div>
</div>

<router-outlet></router-outlet>
