<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Auth0 App</a>
   

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Principal</a>
            </li>
             <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/price">Preco</a>
            </li>
            <li   *ngIf="auth.loggedIn"  class="nav-item" routerLinkActive="active" >
                <a class="nav-link" routerLink="/protected">Protegidas</a>
            </li>
        </ul>
        <span class="navbar-text">
            
         <button 
            *ngIf="!auth.loggedIn"
            (click)="auth.login()"
            class="btn btn-outline-primary">
             Entrar
         </button> 

         <button 
        
            *ngIf="auth.loggedIn"
            (click)="auth.logout()"   
            class="btn btn-outline-danger">
             Sair
         </button>

        </span>
    </div>
</nav>